{% extends 'base.html' %}

{% block content %}

<h1 class="display-4 text-center mt-4 titulo">{% block title %}Lista de tareas{% endblock %}</h1>

<!-- La hoja de estilo local (main.css) -->
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<!-- Plantilla de Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css"
      integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet">

<main class="container p-4">

    <div class="row">
        <div class="col-md-4 offset-md-4 my-auto"> <!--Este div ocupará 4 columnas del espacio (centrado)-->
            <div class="card"> <!--Creacion del objeto card-->
                <div class="card-header">
                    <form action="/crear-tarea" method="post">
                        <div class="form-group">
                            <input type="text" name="contenido_tarea" placeholder="Tarea" class="form-control"
                                   autofocus>
                            <div class="d-flex flex-row my-4" style="height: 30px;">
                                <label for="selectCategoria1" class="form-label mb-0 mr-2 my-1">Categoría</label>
                                <select class="form-select flex-grow-1 categoriaBorder" id="selectCategoria1"
                                        name="categoria_tarea">
                                    <option value="Personal">Personal</option>
                                    <option value="Trabajo">Trabajo</option>
                                    <option value="Otro">Otro</option>
                                </select>
                            </div>

                            <div class='input-group date mt-2'>
                                <label class="mr-2 mt-2">Fecha límite</label>
                                <div class="d-flex flex-row">
                                    <input type='datetime-local' class="form-control" name="datepicker">
                                    <span class="input-group-addon w-auto"></span>
                                    <span class="glyphicon glyphicon-calendar align-middle"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Guardar
                        </button>
                    </form>
                </div>
                <div class="card-body">
                    <ul class="list-group"> <!-- ul para crear una lista -->
                        {% for tarea in lista_de_tareas | reverse %} <!-- Jinja -->
                        {% if g.user.id == tarea.creado_por %}
                        <li class="list-group-item">
                                <span class="{% if tarea.hecha == true %} tarea_hecha {% endif %}">
                                    {{tarea.contenido}} ({{tarea.categoria}}) <br/>
                                    Fecha límite: {{tarea.fecha}}
                                </span>
                            <a href="/tarea-hecha/{{tarea.id}}" style="text-decoration:none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green"
                                     class="bi bi-check2-square" viewBox="0 0 16 16">
                                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                                </svg>
                            </a>
                            <a href="/eliminar-tarea/{{tarea.id}}" style="text-decoration:none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                                     class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#modalEditar{{tarea.id}}">
                                Editar
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modalEditar{{tarea.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="/editar-tarea/{{tarea.id}}" method="post">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Editar tarea</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="text" name="editar_tarea" placeholder="Nuevo nombre"
                                                       class="form-control"
                                                       autofocus>
                                                <label for="selectCategoria2" class="form-label mb-0 mr-2 my-2">Categoría</label>
                                                <select class="form-select flex-grow-1 border-2 categoriaBorder"
                                                        id="selectCategoria2" name="nueva_categoria">
                                                    <option value="Personal">Personal</option>
                                                    <option value="Trabajo">Trabajo</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                                <div class='input-group date mt-2'>
                                                    <label class="mr-2 mt-2">Fecha límite</label>
                                                    <div class="d-flex flex-row">
                                                        <input type='datetime-local' class="form-control"
                                                               name="nuevo_datepicker">
                                                        <span class="input-group-addon w-auto"></span>
                                                        <span class="glyphicon glyphicon-calendar align-middle"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Cerrar
                                                </button>
                                                <button type="submit" class="btn btn-primary">Guardar cambio</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li> <!-- li para cada uno de los elementos -->
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}